# Dependencias
/node_modules
/client/node_modules
/server/node_modules
# Archivos de compilación
/build

# Archivos de ambiente
.env*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos de caché
.cache/